
@{
    ViewData["Title"] = "Create";
}
<div class="container shadow-container">
    <h2 class="p-2 text-center">Add Restaurant Category</h2>
    <form class="container my-3" id="myForm">
        <div class="form-group">
            <label for="category">Category</label>
            <input type="text"
                   id="category"
                   class="form-control"
                   placeholder="Enter Category"
                   name="category" />
            <span></span>
        </div>
        <button type="submit" class="btn btn-primary mr-2">Submit</button>
        <a class="btn btn-secondary" href="./list.html">Back</a>
    </form>
</div>
