@model Category
@{
    ViewData["Title"] = "Manage";
}

<div class="container shadow-container">
    <h2 class="p-2 text-center">Edit Restaurant Category "SomeCategory"</h2>
    <form asp-action="Manage" method="post" class="container" id="myForm">
        <div class="form-group">
            <label for="category">Category</label>
            <input type="text"
                   class="form-control"
                  asp-for="Name"
                   placeholder="Enter Category"
                   
                   value="@Model.Name" required/>
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <button asp-route-Id="@Model.Id" type="submit" class="btn btn-primary mr-2">Make Changes</button>
        <a class="btn btn-secondary" asp-action="List">Back</a>
    </form>
</div>
